// Variables de couleurs$black: #000;
$black: #000;
$white: #fff;
$red: #ff0000;
$sakura: #ffb6c1;


section#contact{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em 0em;
}

.contact{
    //display: grid;
    //grid-template-rows: auto 1fr auto;
    gap: 2em;
    margin-top: 2em;
    //padding: 2em;
    border: 1px solid #cccccc;
    //border-radius: 4px;
    background-color: #A39595;
    
    width: 17%;
    //margin: 20vh auto 0 auto;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
    border-radius: 4px;
    font-size: 12px;

  
    /* Centrer le formulaire */
   
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
  }

label{
    flex-direction: row;
    justify-content: flex-start;
    padding: 1em;
    //margin-top: 2%;
}

section#contact h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    //margin-bottom: 10%;
}


.field{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.field input{
border: 2px solid #f0f0f0;
border-radius: 4px;
display: block;
font-size: 12px;
padding: 10px;
width: calc(100% - 20px);
}

.field input:focus{
    outline: 0;
}

.send{
    padding: 1em;
    margin-top: 10%;
    width: 100%;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: #4169E1;
    color: $white;
    //border: #fff;
}