// Variables de couleurs$black: #000;
$black: #000;
$white: #fff;
$red: #ff0000;
$sakura: #ffb6c1;



.contact{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: $white;
  
    /* Centrer le formulaire */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

h4{
    text-align: center;
}

.field{
    text-align: center;
}